env
__pycache__
USComments.csv
Sales_data.ftr
.qodo
COUNT().pdf
test.py
IFNULL()+and+OR()+NOT().pdf
SUM().pdf
SQL+-+FAQ.pdf
SQL-MYSQL for Data Analytics and Business Intelligence.pdf
SELECT+-+FROM.pdf
